*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: #222;
}

h3{
    margin-left: 1rem;
}

p{
    margin: 1rem;
}

li{
    margin-top: 1rem;
}

img{
    max-width: 303px;
    margin-left: 1rem;
}